<script>
    $("#CreateStoreformValidate").validate({
        rules: {
            StoreName: {
                required: true,
                minlength: 3
            },
            PhoneNumber: {
                required: true,
                minlength: 11,
                maxlength: 11,
                number: true
            },
            Address: {
                required: true,
                minlength: 10
            },
        },
        //For custom messages
        messages: {
            StoreName: {
                required: "أدخل أسم المحل",
                minlength: "أدخل 3 حروف علي الأقل"
            },
            PhoneNumber: {
                required: "أدخل رقم الهاتف",
                minlength: "أدخل 11 رقم علي الأقل",
                maxlength: "أدخل 11 رقم علي الأقل"
            },
            Address: {  
                required: "أدخل عنوان المحل",
                minlength: "أدخل 10 رقم علي الأقل",
            },
        },
        errorElement: 'div',
        errorPlacement: function (error, element) {
            var placement = $(element).data('error');
            if (placement) {
                $(placement).append(error)
            } else {
                error.insertAfter(element);
            }
        },
        invalidHandler: function (e, validator) {
            var errors = validator.numberOfInvalids();
            if (errors) {
                $('.error-alert-bar').show();
            }
        },
        submitHandler: function () {
            $('.error-alert-bar').hide();
            $('.success-alert-bar').show().delay(5000).fadeOut();
        }
    });

// -----------------------------------------------------------------------

</script>
<div class="logo-w"><a><img alt="" src="img/FullLogo.png"></a></div>
<h4 class="auth-header">أنشاء محل جديد</h4>
<form id="CreateStoreformValidate" ng-controller="BusinessController">
    <div ng-show="ShowBusiness">
        <div class="form-group">
            <label for=""> أسم المحل</label>
            <input class="form-control" type="text" required="required" name="StoreName" placeholder="أسم المحل" ng-model="Business.StoreName">
            <div class="pre-icon os-icon os-icon-home-09"></div>
            <hr />
        </div>
        <div class="form-group">
            <label for=""> رقم الهاتف</label>
            <input class="form-control" required="required" name="PhoneNumber" placeholder="رقم الهاتف" ng-model="Business.PhoneNumber">
            <div class="pre-icon os-icon os-icon-phone"></div>
            <hr />
        </div>
        <div class="form-group">
            <label for=""> العنوان</label>
            <input class="form-control" required="required" name="Address" placeholder="العنوان" ng-model="Business.Address" type="text">
            <div class="pre-icon os-icon os-icon-map"></div>
            <hr />
        </div>
        <div class="form-group">
            <label for=""> وقت بدايه العمل</label>
            <input class="form-control" required="required" name="WorkStartingDate" ng-model="Business.WorkStartingDate" type="time">
            <div class="pre-icon os-icon os-icon-clock"></div>
            <hr />
        </div>
        <div class="form-group">
            <label for=""> وقت نهايه العمل</label>
            <input class="form-control" required="required" name="WorkEndingDate" ng-model="Business.WorkEndingDate" type="time">
            <div class="pre-icon os-icon os-icon-clock"></div>
            <hr />
        </div>
        <div class="buttons-w"><button type="button" class="btn btn-primary" ng-click="Chose()">أنشاء المحل</button></div>
    </div>
    <div ng-show="!ShowBusiness">
        <div class="row">
            <div class="col-md-auto Basics" ng-repeat="Package in Packages">
                <div class="B-selector text-selector" ng-click="CreateBusiness(Package)">{{Package.name}}</div>

            </div>
        </div>
    </div>
</form>
