<div class="logo-w"><a href=""><img alt="" src="/img/FullLogo.png"></a></div>
<h4 class="auth-header">تسجيل الدخول</h4>
<form id="account" ng-controller="Login">
    <div class="form-group">
        <label>أسم المستخدم</label>
        <input class="form-control" placeholder="أدخل أسم المستخدم" ng-model="model.userName">
        <div class="pre-icon os-icon os-icon-user-male-circle"></div>
        <hr />
    </div>
    <div class="form-group">
        <label>الرقم السري</label>
        <input class="form-control" placeholder="أدخل الرقم السري" type="password" ng-model="model.password">
        <div class="pre-icon os-icon os-icon-fingerprint"></div>
        <hr />
    </div>
    <button class="btn btn-primary" type="button" ng-click="Send()">تسجيل الدخول</button>
    <button class="btn btn-success" type="button"  ng-click="Setbarhref(1,0)">التسجيل</button>
</form>
